td {
  text-align: center;
}
td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  text-indent: initial;
  border-spacing: 2px;
}

footer {
  text-align: center;
  margin-top: 20rem;
}
